@model Clinica.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    //this is for create form tag
    @Html.AntiForgeryToken()
    // this is for prevent CSRF attack
    @Html.ValidationSummary(true)

    if (@ViewBag.Message != null)
    {

        <div class="alert alert-danger" role="alert" tempAlert("close",5);>
            El Username y o Password ingresadas son correctas. Vuelva a intentarlo.
        </div>
    }


    <div class="row">
        <div class="col-md-10">
            <label for="user" class="control-label ">Usuario</label>
            @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Username)
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10">
            <label for="password" class="control-label">Contraseña</label>
            @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.Password)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default">Entrar</button>
        </div>
    </div>

    @*<form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="user" class="col-lg-2 control-label ">Usuario</label>
            <div class="col-lg-10">
               @Html.TextBoxFor(a => a.Username, new { @class = "form-control" })
               @Html.ValidationMessageFor(a => a.Username)
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Contraseña</label>
            <div class="col-lg-10">
                @Html.PasswordFor(a => a.Password, new {@class= "form-control" })
                @Html.ValidationMessageFor(a => a.Password)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Entrar</button>
            </div>
        </div>
    </form>*@
   





}  
