@model IEnumerable<Clinica.Models.ListarProfesionalesViewModel>
<link href="~/Content/Generico.css" rel="stylesheet" />
@{
    ViewBag.Title = "Listado de profesionales";
}

<h2>Listado de profesionales</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">

    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayName("Tipo de documento")
                </th>
                <th>
                    @Html.DisplayName("Numero de documento")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matricula)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>

                    <td class="acciones">
                        <a href="@Url.Action("Update", new { id = item.Id_usuario })">
                            <i class="glyphicon glyphicon-pencil btn-group-lg alinear "></i>
                            <span class="sr-only">Editar</span>
                        </a>

                        <a href="@Url.Action("Delete", new { id = item.Id_usuario })">
                            <i class="glyphicon glyphicon-trash btn-group-lg alinear "></i>
                            <span class="sr-only">Eliminar</span>
                        </a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
